<%- include("partials/header") -%>
<div class="secrets">
    <div class="secrets-heading-div">
        <h1 class="secrets-header header-heading">Secret Keeper</h1>
    </div>
    <form class="secrets-form" action="/secrets" method="post">
        <div class="secrets-content">
        <input class="secrets-input" type="text" name="head" placeholder="Secret Heading">
        <br>
        <textarea class="secrets-input" type="text" name="body" placeholder="Secret Content..." rows="2" col="7"></textarea><br>
        </div>
        <button class="secrets-button" type="submit"><strong>ADD</strong></button>
    </form>
</div>

    <div class="insert-whole row">
        <% for(var i=0;i<array.length;i++){ %>
            <form action="/delete" method="post" class="insert-secrets col-lg-3 col-md-6">
                <h4 class="insert-h4">Username: <%=array[i].user%></h4>
                <h3 class="insert-heading"><%=array[i].heading%></h3>
                <p class="insert-content"><%=array[i].content%></p>
                <input type="hidden" name="hiddenInput1" value="<%=array[i].user%>">
                <input type="hidden" name="hiddenInput2" value="<%=array[i].heading%>">
                <button type="submit" class="insert-button">DELETE</button>
            </form>
        <% } %>
    </div>

    <div class="home-button">
        <a href="/signout" type="submit" class="btn btn-info btn-lg">Go to Home Page</a>
    </div>


<%- include("partials/footer") -%>